body,
html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 30px);
}

.CodeMirror {
    flex: 1 1 auto;
    resize: none;
    font-size: 14px;
    border-radius: 0;
    font-family: monospace;
    padding: 0;
    background-color: transparent;

    /* Theme chooser adjustments: */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;

    line-height: 1.3;
}

/* Fix the alignment/size of the folding arrows. */
.CodeMirror-gutter-elt {
    font-size: 160%;
    margin-top: -9px;
}

.CodeMirror-gutter-elt,
.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded::after,
.CodeMirror-foldgutter-open::after {
    width: 20px;
}

.CodeMirror-sizer {
    margin-left: 22px;
}

.CodeMirror-gutters {
    padding-right: 9px;
}

.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
    padding: 2px;
}

.CodeMirror-foldgutter-folded::after {
    content: "+";
}
.CodeMirror-foldgutter-open::after {
    content: "-";
}

.info {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    background: #eeeeee;
    padding: 5px;
    height: 22px;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
}

.theme-chooser {
    float: right;
    padding-top: 1px;
}

.theme-chooser label {
    float: left;
    width: 40px;
    background-color: #efefef;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    overflow: auto;
}

.theme-chooser label:nth-child(1) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.theme-chooser label:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.theme-chooser span {
    text-align: center;
    font-size: 10px;
    padding: 4px 0;
    display: block;
}

.theme-chooser input {
    display: none;
}

.theme-chooser input:checked + span {
    background-color: #404040;
    color: #f7f7f7;
}
